#menu-main-menu li a {
    color: white !important;
    text-decoration: none !important;
}

.navbar-brand {
    color: red !important;
    font-size: 32px !important;
    border-right: 1px solid white;
    padding-right: 15px;
}